.App {
  text-align: center;
}

.fade-in {
  animation: fadeIn 0.8s ease-in-out;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -25%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  background-image: linear-gradient(180deg, #F6F4FF 8.65%, rgba(246, 237, 255, 0.5) 29.48%, rgba(227, 214, 240, 0.48) 55.52%, rgba(255, 255, 255, 0) 100%);
}



@media (max-width: 768px) {
  .titulo {
    font-size: 30px !important;
    line-height: 36px !important;
    letter-spacing: -0.02em;
    text-align: center !important;
    margin-top: 8% !important;
    margin-bottom: 8% !important;
  }

  .cuerpo {
    font-size: 16px !important;
    line-height: 20px !important;
    text-align: center !important;
    letter-spacing: -0.035em;
  }

  .botones_info {
    font-size: 16px !important;
    line-height: 22px !important;
    width: 60% !important;
    height: auto !important;
    margin: 0 !important;
    margin-bottom: 20px !important;
  }

  .cajabotones {
    justify-content: center !important;
    margin-top: 9% !important;
  }

  .titulofooter {
    text-align: center !important;
  }

  .footer ul {
    text-align: center !important;
  }

  .footer div {
    text-align: center !important;
  }

  .footer_mail {
    display: flex !important;
    justify-content: center !important;
  }

  .caja_footer {
    padding: 10px !important;
    margin-bottom: 20px !important;
  }

  .w-75 {
    width: 100% !important;
  }
  
  .separador {
    padding: 50px !important;
  }

  .cajabotones {
    margin-bottom: -30px !important;
  }

  .cardtestimonios {
    margin-top: 20px !important;
  }

  .col-md-4 {
    margin-top: 15px !important;
  }

  .col-md-3 {
    margin-top: 15px !important;
  }

  .cajainfo{
    padding-right: 0!important;
  }
  .cajainfo2{
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
  }
  .containerinst{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .centrartestimonios{
    justify-content: center;
  }
  .margentestimonios{
    margin-top: 0 !important;
  }
  .paddingrest{
    padding-right: 0 !important;
  }
  .margenestaslisto{
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

@media (min-width: 769px) and (max-width: 1384px) {
  .btninfo1{
    margin-left: 0 !important;
  }
  .btncomunidad{
    width: auto !important;
    height: auto !important;
  }
}

.cajainfo {
  margin-top: 5% !important;
}

.fondo_secciones {
  background-color: #F6F4FF;
}

.gradiente_verde {
  background: linear-gradient(180deg, rgba(233, 251, 247, 0.12) 6.04%, rgba(196, 248, 235, 0.46) 55.65%, rgba(233, 251, 247, 0) 100%);
}

.offcanvas-backdrop.fade {
  opacity: 0 !important;
}

.btnsubir {
  background-color: #C4F8EB !important;
  box-shadow: 1.32448px 1.32448px 5.27785px rgba(161, 138, 230, 0.2);
  border-radius: 6px;
}

/* fuente */

body {
  font-family: 'Noto Sans', sans-serif !important;
}

body .quicksand {
  font-family: 'Quicksand', sans-serif !important;
}

.morado {
  color: #7858dd;
}

.titulo {
  font-size: 52px;
  line-height: 69px;
  font-weight: bold;
}

.subtitulo {
  font-size: 48px;
  font-weight: 600;
}

.cuerpo {
  font-size: 24px;
  line-height: 33px;
  font-weight: 400;
}

.titulos_cards {
  font-size: 28px;
  font-weight: 700;
  line-height: 38px;
}

.titulos_cards_testimonios {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
}

.cardtestimonios {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  box-shadow: 6px 2px 18px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}

.botones_info {
  width: 255px;
  height: 56px;
  font-size: 20px;
  padding: 12px;
  line-height: 27px;
  text-align: center;
  border-radius: 10px;
}

.cuerpocard {
  font-size: 18px;
  font-weight: 400;
  line-height: 24.5px;
}

.cuerpocard_testimonios {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

.subtitulos_cards {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
}

.titulofooter {
  font-size: 30px;
}

.freepik {
  font-size: 12px;
  line-height: 133.5%;
  letter-spacing: -0.035em;
}

.btn_comunidad {
  width: 255px;
  height: 56px;
  padding: 12px;
  color: #fff;
  background-color: #7858DD;
  font-weight: 700;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
}

.cuerpofooter {
  font-size: 20px;
}

.titulonoticia {
  font-size: 40px;
}

.cuerpocardnoticias {
  font-size: 14px;
}

/* navbar */

.containernavbar {
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 100px;
}

@media (max-width: 799px) {
  .containernavbar {
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 0px !important;
  }
}

.hamburguesa {
  color: #7858DD;
}

.btn {
  color: #fff;
  background-color: #7858DD;
  font-weight: 700;
}

.btn_footer {
  --bs-btn-padding-x: 0.5rem;
  --bs-btn-padding-y: 0.5rem;
}

.dropdown-item {
  background-color: white;
  margin-bottom: 5px;
  padding: 12px 16px 12px 15px;
  gap: 15px;
  font-size: 19px;
  line-height: 24px;
}

.dropdown-menu {
  background-color: transparent;
  border: none;
  padding-top: 0 !important;
}

.dropdown-item.active {
  background-color: #F6EDFF;
  color: #7858DD;
}

.dropdown-item:hover {
  background-color: #F6EDFF;
  color: #7858DD;
}

.btn:hover {
  background-color: #6541dd;
  color: #fff;
}

.btn-zoom {
  transition: transform 0.3s ease-in-out;
}

.btn-zoom:hover {
  transform: scale(1.1);
}

.nav-link {
  color: #000
}

.btn.active {
  background-color: #6541dd;
  color: #fff;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.itemnavbar {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.75px;
  color: #3B3B3B !important;
}

.btniniciosesion {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  line-height: 27px;
  box-shadow: 1.32448px 1.32448px 5.27785px rgba(161, 138, 230, 0.2);
  border-radius: 10px;
}

.btniniciosesion:active {
  background: #D7CAFF !important;
  box-shadow: 1.32448px 1.32448px 5.27785px rgba(161, 138, 230, 0.2);
  border-radius: 10px;
  color: #A183FF !important;
}

.dropdown-toggle::after {
  content: "";
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  margin-left: 15px;
  margin-right: 20px;
  vertical-align: top;
  border: solid;
  border-width: 0 0.2em 0.2em 0;
  transform: rotate(45deg);
  transition: transform 0.3s;
}

.dropdown-toggle[aria-expanded="true"]::after {
  transform: rotate(225deg);
  vertical-align: middle !important;
}

@media (max-width: 768px) {
  .itemnavbar {
    text-align: left;
    letter-spacing: -0.02em;
    font-size: 18px;
    line-height: 26px;
    margin-top: 13px;
    padding-left: 30px !important;
  }

  .dropdown-menu {
    width: 50% !important;
    margin-left: 30px;
  }

  .dropdown-item {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.75px;
    color: #363636;
  }

  .offcanvas-header {
    background: #F6F4FF;
  }

  .offcanvas-body {
    background: #F6F4FF;
  }
  .btniniciosesion{
    font-size: 16px;
    line-height: 22px;
    margin-top: 7% !important;
    margin-left: 30px !important;
  }

  
  .cajapedidos {
    display: flex;
    flex-direction: column-reverse;
  }

  .pedidos_responsive h1{
    text-align: center !important;
    font-size: 40px !important;
    line-height: 50px !important;
  }

  .pedidos_responsive p {
    text-align: center !important;
  }

  .pedidos_responsive div {
    display: flex !important;
    justify-content: center !important;
  }
}

/* componente info */

.imginfo {
  max-width: 100%;
}

.img_ajustada {
  height: 100% !important;
}

.card_testimonios {
  height: 690px;
  color: #fff;
  box-sizing: border-box;
  padding-top: 55px;
  padding-left: 60px;
  background-color: #7858DD;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
  border-radius: 46px;
}

.h2info {
  font-size: 45px;
}

.btninfo {
  width: 40%;
}

@media (max-width: 768px) {
  .inst1 {
    width: 35%;
    margin-bottom: 50px;
    margin-right: 0 !important;
  }

  .img_ajustada {
    height: auto !important;
  }

  .inst2 {
    width: 35%;
    margin-left: 30px !important;
    margin-bottom: 15% ;
  }
  .tituloinst{
    font-size: 15.6992px;
    line-height: 120.7%;
    letter-spacing: -0.035em;
    color: #363636;
    margin-bottom: 8% !important;
  }
}

/* testimonios */
.icono_testimonio {
  color: #AF9AF0 !important;
}

.bi-quote {
  color: #7858DD;
}

@media (max-width: 768px) {
  .titulotest{
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
  }
}

/* componente beneficios */

.containerbeneficios {
  padding-top: 15px;
  padding-bottom: 20px;
}

.cardbeneficios {
  box-shadow: 6px 2px 18px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding-bottom: 8% !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  background-color: white;
}

.cardbeneficios h5 {
  font-size: 28px !important;
  line-height: 38px !important;
  letter-spacing: -0.035em !important;
}

.optimiza {
  margin-top: 20%;
}

@media (max-width: 768px){
  .containerbeneficios h5{
    font-size: 25px !important;
    line-height: 30px !important;
    letter-spacing: -0.035em !important;
  }
  .containerbeneficios p{
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.035em;
  }
  .cardbeneficios{
    margin-bottom: 20px !important; 
    height: auto !important;
    margin-right: 6%;
    margin-left: 6%;
  }

  .card_beneficio {
    margin-bottom: 5px !important;
  }

  .tituloseparador{
    font-size: 28px;
    line-height: 32px;
  }
  .separador{
    padding-top: 12% !important;
    padding-bottom: 12% !important;
  }
  .containerbeneficios{
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
}

/* separador */

.separador {
  background-color: #ECE8FF;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

/* pedidos restaurantes */

.cajapedidos {
  margin-top: 4%;
}

.cajapedidos p {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.035em;
  color: #363636;
}

.btnpedidos {
  background: #7858DD;
  box-shadow: 1.32448px 1.32448px 5.27785px rgba(161, 138, 230, 0.2);
  border-radius: 10px;
  width: 284px;
  height: 56px;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .colpedidos{
    padding-right: 0 !important;
  }
  .cajapedidos p{
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.035em;
    color: #363636;
    text-align: center !important;
    margin-top: 25px !important;
  }
  .cajapedidos{
    padding-left: 5% !important;
    padding-right: 5% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .cajaagiliza{
    padding-right: 5% !important;
    padding-left: 5% !important;
  }
  .fondoagiliza{
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .titulovideo{
    font-size: 28px !important;
    line-height: 35px !important;
    color: #363636;
  }
  .tituloformulario{
    font-size: 30px !important;
    line-height: 36px !important;
    letter-spacing: -0.02em !important;
  }
  .paddingform{
    padding-left: 3% !important;
    padding-right: 3% !important;
  }
}

.tituloformulario{
  font-size: 55px;
  line-height: 69px;
  letter-spacing: -0.035em;
  color: #363636;
}

.titulovideo{
  font-size: 48px;
  line-height: 60px;
  color: #363636;
}

/* contactanos */

.btn-contactanos {
  color: #0fe3a9;
  background-color: #7858dd;
  font-weight: 400;
}

/* ventas proveedores */

.containerventas{
  margin-top: 6%;
  margin-bottom: 6%;
}

.containerventas h1{
  line-height: 69px;
  letter-spacing: -0.035em;
  font-size: 55px;
}

@media (max-width: 768px) {
  .containerventas{
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
  .containerventas h1{
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.02em;
    text-align: center !important;
    margin-bottom: 6% !important;
    margin-top: 2% !important;
  }
  .containerventas p{
    font-size: 16px !important;
    line-height: 20px;
    text-align: center !important;
    letter-spacing: -0.035em;
    color: #3B3B3B;
  }
  .cajabenefprov{
    width: 100% !important;
  }
  .divtabs{
    padding: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
  }
}

/* tab bar */

.titulotabbar{
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  color: #363636;
}

.tab-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
}

.tab-bar div {
  margin: 0 10px;
  padding: 10px;
  cursor: pointer;
  font-size: 22px;
  white-space: nowrap;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.tab-content {
  margin-top: 20px;
}

@media (max-width: 576px) {
  .tab-item {
    padding: 10px;
    width: 100%;
    text-align: center;
  }
  .tab-item.active {
    margin-right: 0;
  }
  .titulotabbar{
    font-size: 28px;
    line-height: 35px;
    text-align: center;
  }
  .cajatabs{
    justify-content: center !important;
  }
  .containertabs{
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .divtabs{
    padding: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
  }
  .tab-bar{
    margin-left: auto !important;
  }
}

.tab-item {
  position: relative;
  display: inline-block;
  padding: 0 8px;
  cursor: pointer;
  font-size: 22px;
}

.tab-item.active {
  font-weight: 600;
}

.tab-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: #7858DD;
  transition: width 0.3s ease-in-out;
}

.tab-item:hover::after {
  width: calc(100% - 16px);
}

.tab-item.active::after {
  width: calc(100% - 16px);
}

/* noticias */

.containernoti{
  margin-top: 8%;
}

.titulonoticias{
  font-weight: 700;
  font-size: 28.3724px;
  line-height: 102.7%;
  letter-spacing: -0.035em;
  color: #3B3B3B;
}

.exploranoticias{
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  margin-top: 8%;
  margin-bottom: 8%;
}

@media (max-width: 768px) {
  .titulonoticias {
    
    letter-spacing: -0.02em;
    font-size: 18px;
    line-height: 26px;
  }

  .tendencianoticia {
    letter-spacing: -0.02em;
    font-size: 30px;
    line-height: 36px;
    
  }

  .subnoticia {
    letter-spacing: -0.035em;
    font-weight: 400 !important;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    margin-top: 20px !important;
  }
  .exploranoticias{
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: -0.035em;
    color: #363636;
    margin-top: 0 !important;
    margin-bottom: 12% !important;
    text-align: center !important;
  }
}

.cajanoticias {
  height: 696px;
  box-sizing: border-box;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 150px;
  background-color: white;
  box-shadow: 10px 10px 30px #DFDBF4;
  position: relative;
  z-index: 1;
  border-radius: 46px;
}

.imagennoticia {
  height: 500px;
  position: relative;
  left: 50px;
  z-index: 2;
  border-radius: 42px;
}

.imagen_testimonio2 {
  height: 500px;
  position: relative;
  left: 10px;
  top: 100px;
  z-index: 2;
  border-radius: 42px;
}

.leermas {
  font-size: 36px;
  text-decoration: none;
  display: block;
  text-align: right;
  margin-right: 40px;
  position: absolute;
  bottom: 30px;
  right: 40px;
}

.conocelos {
  font-size: 36px;
  text-decoration: none;
  display: block;
  text-align: right;

}

@media (min-width: 1200px) and (max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 100%;
  }

  .imagennoticia {
    position: relative;
    left: 0;
    margin-right: 0;
    border-radius: 42px;
    height: auto;
    z-index: 1;
  }

  .cajanoticias {
    padding-top: 45px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 46px;
    height: auto;
    z-index: 2;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }

  .containernoti {
    padding-left: 0;
  }

  .imagennoticia {
    position: relative;
    left: 0;
    margin-right: 0;
    border-radius: 20px;
    height: auto;
    z-index: 1;
    width: 90%;
  }

  .imagennoticia img {
    height: 250px;
    max-width: 90%;
  }

  .cajanoticias {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 18% !important;
    border-radius: 10px;
    height: 100% !important;
    z-index: 2;
    margin-top: -70px;
    max-width: 90%;
    box-shadow: 6px 2px 18px rgba(0, 0, 0, 0.08);
  }

  .cajanoticias h2 {
    font-family: 'Noto Sans' !important;
    font-style: normal;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: -0.035em;
  }

  .cajanoticias p {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    align-items: center;
    margin-bottom: 0;
    text-align: left !important;
  }

  .leermas {
    font-size: 16px;
    line-height: 102.7%;
    letter-spacing: -0.035em;
  }

  .btnatrasnoti{
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .btnadelante{
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .btnatrasnoticias{
    margin-top: 10% !important;
  }
}

.btnnoticia {
  width: 293px;
  font-size: 20px;
}

.btnadelante {
  background-color: #7758dd8e;
  border: none;
  padding-right: 15px !important;
  padding-left: 15px !important; 
}

.btnatrasnoti {
  background-color: #7758dd8e;
  border: none;
  padding-right: 15px !important;
  padding-left: 15px !important; 
}

.btn[disabled] {
  background-color: #68646454;
}

.btnatrasnoti[disabled] .svg-inline--fa {
  color: #524e4e !important;
}

.btnadelante[disabled] .svg-inline--fa {
  color: #524e4e !important;
}

/* explora noticias */

.grillanoticias {

  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  background-color: white;
  box-shadow: 10px 10px 30px #DFDBF4;
  position: relative;
  z-index: 1;
  border-radius: 20px;
  height: 350px;
}

.grillanoticias p {
  letter-spacing: -0.035em;
  line-height: 17px;
}

.grillanoticias a {
  color: black;
  text-decoration: none;
}

.grillanoticias h2 {
  line-height: 35px;
}

.grillanoticias span {
  font-size: 12px;
  line-height: 17px;
}

.imagengrillanoticias {
  position: relative;
  left: 38px;
  z-index: 2;
  border-radius: 42px;
}

.imagengrillanoticias img {
  width: 274px;
  height: 244px;
}

@media (min-width: 993px) and (max-width: 1250px) {
  .grillanoticias {
    overflow: hidden;
    z-index: 2;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    height: auto !important;
  }

  .imagengrillanoticias {
    position: relative;
    z-index: 1;
    border-radius: 42px;
  }

  .imagengrillanoticias img {
    width: 234px;
    height: 208px;
  }
}

@media (min-width: 768px) and (max-width: 993px) {
  .todasnoticias {
    width: 45% !important;
  }

  .contenedornoticias {
    justify-content: space-around !important;
  }
}

@media (max-width: 768px) {
  .todasnoticias {
    height: auto !important;
  }

  .grillanoticias {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  nav {
    margin-bottom: 0px !important;
  }

}



/* noticia1 */

.fechanoticia {
  margin-top: 120px;
  margin-left: 99px;
}

.categorianoticia {
  margin-left: 99px;
}

.detallenoticia {
  padding-left: 99px;
  padding-right: 99px;
  padding-bottom: 99px;
  background-color: white;
  box-shadow: 6px 2px 18px rgba(0, 0, 0, 0.08);
  width: 52%;
}

.detallenoticia p {
  line-height: 33px;
  text-align: justify;
}

@media (max-width: 768px) {
  .fondo_noticias{
    margin-left: 0;
    margin-right: 0;
    background-image: none !important;
  }
  .titulonoticiadetalle{
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #363636;
    text-align: start;
    margin-left: 6% !important;
  }
  .fechanoticia{
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: -0.035em;
    color: #363636;
    margin-top: 0;
    margin-left: 6% !important;
  }
  .detallenoticia {
    width: 90% !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .detallenoticia h2 {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.02em;
    padding-top: 0 !important;
    margin-bottom: 30px;
    text-align: start !important; 
  }

  .detallenoticia p {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.035em;
    text-align: start !important; 
  }

  .detallenoticia img {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
  }

  .imgcolnoticia{
    text-align: center;
  }

  .detallenoticia h3 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.04em;
    text-align: start !important; 
  }

  .detallenoticia span {
    font-size: 12px;
    line-height: 102.7%;
    letter-spacing: -0.035em;
  }

  .container_historias {
    display: flex !important;
    flex-direction: column-reverse !important;
  }

  .card_testimonios {
   width: 85% !important;
   padding: 20px !important;
   margin-top: 20px !important;
   height: fit-content !important;
  }

  .card_testimonios h2 {
    font-size: 18px !important;
    line-height: 26px !important;
    margin: 10px !important;
    margin-top: 0px !important;
  }

  .card_testimonios img {
    width: 70px !important;
  }

  .cuerpo_mobile {
    font-size: 15px !important;
    line-height: 22px !important;
    text-align: start !important;
    margin: 10px !important;
  }

  .persona_mobile {
    font-size: 23px !important;
    font-weight: 700 !important;
    margin-top: 15px;
  }

  .puesto_mobile {
    font-size: 12px !important;
    line-height: 12px !important;
    margin-top: 8px !important;
    text-align: start !important;
  }

  .historias_mobile h4 {
    text-align: start !important;
    font-size: 30px !important;
    line-height: 36px !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
  }

  .historias_mobile p {
    text-align: start !important;
    margin-top: 0px !important;
  }

  .historias_mobile h3 {
    font-size: 18px !important;
  }
  .historias_mobile{
    padding-left: 4% !important;
  }
}

@media (min-width: 769px) and (max-width: 1100px) {
  .detallenoticia {
    width: 90% !important;
  }
}

@media (min-width: 1101px) and (max-width: 1800px) {
  .detallenoticia {
    width: 75% !important;
  }
}

.titulocontactanos {
  margin-top: 15% !important;
}

/* swiper */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 15px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tituloswiper {
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  color: #363636;
  margin-top: 45px;
}

@media (max-width: 768px) {
  .tituloswiper{
    font-size: 30px;
    line-height: 36px;
    color: #363636;
  }
}

/* formulario */

.form {
  background-color: #7858DD;
  border-radius: 10px;
  width: 600px;
  height: 640px;
}

.btn_form {
  background-color: #C4F8EB;
  color: #7858DD;
  border-radius: 10px;
  width: 160px;
  border: none
}

.fondo_form {
  background-image: url(images/FONDO-SEC\ FORMULARIO.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.fondo_noticias {
  background-image: url(images/fondo_noticia_completa.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .fondo_form{
    background-image:none
  }
}

/* contacto */

@media (max-width: 768px) {
  .containercontacto p{
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.035em;
    color: #3B3B3B;
    text-align: center !important;
  }
  .colcontacto{
    padding-right: 0 !important;
  }
  .containercontacto{
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
  .containercontacto a{
    margin-top: 7% !important;
  }
  .titulopreguntas{
    font-size: 25px !important;
    line-height: 36px !important;
    text-align: center !important;
    margin-left: auto !important;
  }
  .nav-item{
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 50% !important;
  }
  .navfaq.active::after{
    padding-bottom: 10px !important;
    border-bottom: 5px solid #7858DD !important;
  }
  .navfaq:not(.active)::after{
    padding-bottom: 10px !important;
    border-bottom: 5px solid #e3eee8 !important;
  }
  .navfaq{
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: 0.75px !important;
    margin-top: 20px !important;
  }
  .npnavlink{
    padding: 0 !important;
  }
  .accordion-button{
    font-size: 16px !important;
    line-height: 20px;
    letter-spacing: -0.035em !important;
    height: auto !important;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .accordion-body{
    font-size: 14px !important;
    line-height: 17px !important;
    letter-spacing: -0.035em !important;
  }

  .navbar-brand img {
    width: 140px !important;
  }

  .hamburguesa img {
    width: 25px !important;
  }
}

.containercontacto{
  margin-top: 6%;
}

.titulopreguntas{
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  color: #363636;
  margin-left: 8%;
}

.cuerpocontacto {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.035em;
  color: #3B3B3B;
}

.subcontacto {
  font-size: 48px;
  line-height: 60px;
}

.accordion {
  margin-top: 30px;
}

.cajaacordeon {
  height: 100%;
}

.accordion-item:first-of-type .accordion-button{
  background: #F6F4FF;
  color: #3B3B3B;
}

.accordion-button {
  background: #F6F4FF;
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  width: 100%;
  height: 100px;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: -0.035em;
  padding-left: 25px;
  color: #3B3B3B
}

.accordion-body {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.035em;
  background: #F6F4FF;
  border-radius: 6px;
  text-align: start;
  padding-right: 25px !important;
  padding-left: 25px !important;
  color: #3B3B3B;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
  color: #212529;
  border: none;
}

.accordion-button:focus {
  box-shadow: none;
  outline: none;
}

.navfaq {
  color: black;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.75px;
  margin-top: 50px;
}

.navfaq.active::after {
  content: "";
  display: block;
  height: 4px;
  background-color: transparent;
  border: none;
  border-bottom: 6px solid #7858DD;
  margin-top: 5px;
  padding-bottom: 35px;
  
}

.navfaq:not(.active)::after {
  content: "";
  display: block;
  height: 4px;
  background-color: transparent;
  border: none;
  border-bottom: 6px solid #e3eee8;
  margin-top: 5px;
  padding-bottom: 35px;
   
}

.nav-tabs .nav-item.show .navfaq,
.nav-tabs .navfaq.active {
  background-color: transparent;
  border: none;
  font-weight: 700;
}

.nav-tabs {
  border: none;
}

.nav-tabs {
  --bs-nav-tabs-border-width: initial;
}

.nav-tabs .navfaq:hover {
  color: black;
}

.accordion-button.collapsed::after {
  background: url("images/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.accordion-button:not(.collapsed)::after {
  background: url("images/cruz.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 25px !important;
}

.img1 {
  position: relative;
  left: 4%;
}

.img2 {
  position: relative;
  left: 2%;
}

.img3 {
  position: relative;
}

.img4 {
  position: relative;
  left: -2%
}

.img5 {
  position: relative;
  left: -4%;
}

.img6 {
  position: relative;
  left: -6%
}

.img7 {
  position: relative;
  left: -8%;
}

.imagenes_testimonios {
  position: relative;
}

.imagenes_testimonios p {
  position: relative;
  left: -10%;
}

@media (max-width: 768px) {

  .contenedor_tab {
    margin-left: 20px !important;
  }

  .caja_testimonio{
    z-index: 20 !important;
    height: 100% !important;
    padding-top: 12% !important;
  padding-bottom: 10% !important;
  padding-right: 10% !important;
  padding-left: 10% !important;
  box-shadow: 6px 2px 18px rgba(0, 0, 0, 0.08) !important;
border-radius: 10px !important;
  }
  .fondo_imagenes_testimonios{
    width: 90% !important;
    z-index: 2 !important;
  }
  .imagen_testimonio{
    left: auto !important;
    margin-left: 0 !important;
    height: auto !important;
  }
  .imagen_testimonio2{
    left: auto !important;
    margin-left: 0 !important;
    height: auto !important;
  }
  .fondo_logos_testimonios{
    display: none;
  }
  .logocardtest {
    display: flex !important;
    position: absolute !important;
    z-index: 0 !important;
    top: -18vw;
    left: 31vw;
    width: 35%;
    border-radius: 100%;
    border: 8px solid rgb(255, 255, 255);
  }
  .comillas{
    width: 4%;
    margin-left: 0 !important;
  }
.card_testimonios .comillas2{
  width: 4% !important;
  margin-left: 10px;
  margin-bottom: 2%;
  margin-top: 4%;
}
  
  .titulos_testimonios{
    font-size: 18px !important;
    line-height: 26px !important;
    letter-spacing: -0.02em;
    color: #363636;
    margin-bottom: 6% !important;
  }
  .cuerpo_testimonios{
    font-size: 14px !important;
    line-height: 18px !important;
    color: #363636;
  }
  .puesto_testimonios{
    font-size: 14px !important;
    line-height: 17px !important;
    letter-spacing: -0.035em;
    color: #363636;
  }
  .textostest{
    margin-left: 0 !important;
    margin-top: 5% !important;
  }
  .personatest{
    font-size: 21.5771px !important;
    line-height: 27px !important;
    margin-top: auto !important;
    margin-bottom: 3% !important;
  }
  .conocelos{
    font-size: 20.9405px;
    line-height: 102.7%;
    text-align: center;
    letter-spacing: -0.035em;
    margin-top: 5% !important;
    margin-bottom: 0 !important;
  }
  .flechatest{
    position: relative !important;
    top: -3px !important;
  }
  .containertest{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .btntest{
    margin-top: 5% !important;
  }
  .img1{
    left: auto !important;
  }
  .img2{
    left: auto !important;
  }
  .img3{
    left: auto !important;
  }
  .img4{
    left: auto !important;
  }
  .img5{
    left: auto !important;
  }
  .img6{
    left: auto !important;
  }
  .img7{
    left: auto !important;
  }
  .empresastest{
    display: block !important;
    left: auto !important;
  }
  .empresastest2{
    display: none;
  }
  .titulotest{
    text-align: start !important;
    margin-bottom: 3% !important;
    margin-top: 1% !important;
  }

  .row_test {
    margin-top: 0 !important;
  }

  .container_test {
    margin-left: 15px !important;
  }
  .cuerpotest{
    text-align: start !important;
    padding-right: 20% !important;
  }
  .testmobile{
    display: block !important;
    text-align: start !important;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #363636;
  }
  .quedicen{
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    color: #363636;
  }
  }

@media (min-width: 769px) {
  .btnatrastest {
    display: inline-block !important;
  }
}

.comillas{
  width: 5%;
  margin-bottom: 5%;
}

.comillas2{
  width: 5%;
  margin-bottom: 5%;
}

.caja_testimonio {
  height: 696px;
  box-sizing: border-box;
  padding-top: 70px;
  padding-bottom: 100px;
  padding-right: 75px;
  padding-left: 100px;
  background: #FFFFFF;
  box-shadow: 6.73548px 2.24516px 20.2065px rgba(0, 0, 0, 0.08);
  border-radius: 46.0258px;
  position: relative;
  z-index: 1;
}

.imagen_testimonio {
  height: 500px;
  position: relative;
  left: -80px;
  top: 100px;
  z-index: 2;
  border-radius: 42px;
}

.fondo_imagenes_testimonios {
  position: relative;
}

.fondo_logos_testimonios {
  position: absolute;
  width: 250px;
  top: 25%;
  right: 20%;
}

.titulos_testimonios {
  font-size: 33px;
  line-height: 41px;
  font-weight: 700;
}

.cuerpo_testimonios {
  font-size: 24px;
  line-height: 33px;
  font-weight: 400;
}

.puesto_testimonios {
  font-size: 19px;
  line-height: 19px;
  font-weight: 500;
}

.svg-inline--fa {
  vertical-align: -7px;
}

.footer_link:focus {
  color: #7858DD !important;
}

/* newletter */

.nl{
  margin-top: 8%;
  margin-bottom: 8%;
}

.nlact {
  font-weight: 700;
  font-size: 26.2895px;
  line-height: 102.7%;
  letter-spacing: -0.035em;
  color: #3B3B3B;
}

.titulonl {
  font-weight: 700;
  font-size: 72.0069px;
  line-height: 116%;
}

.cuerponl {
  font-size: 24.2068px;
  line-height: 138%;
}

.cajanl {
  background: #7858DD;
  border: 0.443725px solid rgba(0, 0, 0, 0.17);
  border-radius: 4.43725px;
}

.txtnl {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.035em;
  color: #FFFDFD;
}

.placeholdernl {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-shadow: 1.32448px 1.32448px 5.27785px rgba(161, 138, 230, 0.2);
  border-radius: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.035em;
  color: rgba(29, 27, 32, 0.3);
  Width: 437.35px;
  Height: 47.92px;
}

.btnnl{
  width: 200px;
  height: 56px;
  background: #C4F8EB;
box-shadow: 1.32448px 1.32448px 5.27785px rgba(161, 138, 230, 0.2);
border-radius: 10px;
border: none;
font-weight: 700;
font-size: 20px;
line-height: 27px;
color: #7858DD;
}

@media (max-width: 768px) {
  .nlact{
    font-size: 12px;
    line-height: 102.7%;
    text-align: center !important;
    letter-spacing: -0.035em;
    color: #3B3B3B;
  }
  .titulonl{
    font-size: 28px;
    line-height: 35px;
    text-align: center !important;
    color: #000000;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }
  .cuerponl{
    font-size: 16px;
    line-height: 20px;
    text-align: center !important;
    letter-spacing: -0.035em;
    color: #000000;
  }
  .btnnl{
    margin-bottom: 6% !important;
  }
  .cajanl{
    width: 90% !important;
    justify-content: center !important;
  }
  .connl{
    justify-content: center !important;
  }
}

@media (max-width: 1100px) {
  .placeholdernl {
    width: 100%;
  }
}